.donation-block__container {
	padding: 70px 15px 80px;
	box-sizing: content-box;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
@media (max-width: 767px) {
	.donation-block__container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		padding: 35px 15px 40px;
	}
}
@media (max-width: 479px) {
	.donation-block__container {
		grid-template-rows: 1fr;
	}
}