.page__main-block {
  color: #fff;
  min-height: 925px;
  background: url(../../../assets/images/cover.jpg) no-repeat center / cover;
}
@media (max-width: 767px) {
  .page__main-block {
    min-height: 640px;
    background-position: 60% top;
    background-color: #fff;
  }
}