.catalog-block__inner {
	display: grid;
	grid: 1fr 1fr / repeat(3, 270px 30px) 270px;
	margin: 30px auto 0;
}
@media (max-width: 1200px) {
	.catalog-block__inner {
		grid: repeat(3, 1fr) / 1fr repeat(2, 270px 30px) 270px 1fr;
	}
}
@media (max-width: 900px) {
	.catalog-block__inner {
		grid: repeat(4, 1fr) / 1fr 270px 30px 270px 1fr;
	}
}
@media (max-width: 600px) {
	.catalog-block__inner {
		grid: repeat(4, 1fr) / 1fr 200px 15px 200px 1fr;
	}
}
@media (max-width: 440px) {
	.catalog-block__inner {
		grid: repeat(4, 1fr) / 1fr 150px 15px 150px 1fr;
	}
}
@media (max-width: 340px) {
	.catalog-block__inner {
		grid: repeat(8, 1fr) / 1fr;
	}
}