.menu__item:not(:last-child) {
  margin-right: 36px;
}
@media (max-width: 992px) {
  .menu__item:not(:last-child) {
    margin-right: 26px;
  }
}
.menu__item {
  padding-bottom: 5px;
  margin-top: 7px;
  border-bottom: 3px solid transparent;
  transition: 0.2s;
}
.menu__item:hover {
  border-color: #f1cdb3;
}