.button {
	display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  letter-spacing: 1px;
	border-radius: 26px;
	transition: 0.2s;
	font-family: "Georgia";
}
@media (max-width: 767px) {
	.button {
		font-size: 18px;
	}
}