.about-block__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 120px;
  padding: 90px 15px 108px;
	box-sizing: content-box;
}
@media (max-width: 992px) {
  .about-block__container {
    grid-column-gap: 60px;
  }
}
@media (max-width: 767px) {
  .about-block__container {
    grid: auto 1fr / auto;
    padding: 45px 15px 54px;
  }
}